.info-border {
    border: 1px solid rgb(34, 106, 184);
}

.page-num {
    width: 45px !important;
    border: 1px solid rgb(21, 80, 151);
    color: rgb(21, 73, 151);
    text-align: center;
    font-weight: bold;
}

.arrow {
    width : 0;
    height : 0;
    float : right;
    margin-top : 5px;
    border-left : 5px solid transparent;
    border-right : 5px solid transparent;
    display : inline-block;
}

.arrow-up {
    border-bottom : 10px solid white;
}

.arrow-down {
    border-top : 10px solid white;
}


.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
} 
    


.pinf{
    width: "100% ";
    height: "100%";
    color:black;
    background-color: white;
    margin:"auto"

}

.pinf1{
    width: "80% ";
    height: "100%";
    color: #004980;
    background-color: rgba(255, 255, 255, 0.877);
    margin: "auto";

}
.pinf2{
    width: "100% ";
    height: "100%";
    color: rgb(69, 95, 148);
    background-color: rgb(138, 165, 180);

}

Form.Group.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
}

